---
export const prerender = true;
---
<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <meta http-equiv="refresh" content="0;url=/404" />
  <title>Page introuvable</title>
</head>
<body></body>
</html>
